.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    font-size: 4rem;
    font-weight: 600;
    color: inherit;
    background: linear-gradient(90deg, #0077ff, #f57de5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }
  
  
  .selector {
    background-color: #ffffff; 
    color: #212529; 
    border: 1px solid #ced4da; 
    border-radius: 30px;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .infoMessage {
    width: 100%;
    text-align: center;
    color: #6c757d; 
  }
  